body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
    color: white;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin: 0;
}

header nav ul li {
    padding: 10px;
}

header .balance {
    background-color: rgb(4, 97, 43);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

h1 {
    margin: 10px 0;
}

main {
    padding: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
}

.tab.active {
    background-color: #2E7D32;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.donation-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.donation-card img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.card-content {
    flex-grow: 1;
}

.card-content h2 {
    margin-top: 0;
}

.donation-amount {
    display: flex;
    align-items: center;
}

.donation-amount input {
    width: 80px;
    margin-left: 10px;
    padding: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #2E7D32;
}